{% extends 'base.html.twig' %}
{% block title %}Edycja projektu {% endblock %}
{% block references %}
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="../../global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="../../assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="../../assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="../../assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <link href="../../assets/css/flex.css" rel = stylesheet type = text/css>
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script src="../../global_assets/js/main/jquery.min.js"></script>
    <script src="../../global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="../../global_assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script src="../../global_assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="../../global_assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="../../global_assets/js/plugins/forms/styling/switch.min.js"></script>

    <script src="../../assets/js/app.js"></script>
    <script src="../../global_assets/js/demo_pages/form_checkboxes_radios.js"></script>
    <!-- /theme JS files -->
{% endblock %}
{% block content %}
    <div class="page-header page-header-light">

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Dashboard</a>
                    <a href="{{ path('project_list') }}" class="breadcrumb-item active">Lista projektów</a>
                    <span class="breadcrumb-item active">Edycja projektu</span>


                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

        </div>
        <!-- /page header-->
    </div>
    <!-- /page header-->

    <!-- Content area -->
    <div class="content">

        <!-- Form inputs -->
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Edycja projektu</h5>

            </div>

            <div class="card-body">
                {% if errors %}
                    <div class = "col-md-6">
                        {% for error in errors %}
                            <div class="alert alert-danger" role="alert">
                                {{error}}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <form method="POST" action="{{ path('project_edit', {id: project.id}) }}">
                    {{ form_row(form._token) }}
                <div class = "row">
                    <div class="col-md-6">

                        <div class="form-group row">
                            <label class="col-form-label col-lg-2" >Domena projektu </label>
                            <div class="col-lg-10">
                                <input name="{{ form.domain.vars.full_name }}" value="{{ project.domain}}" type="text" class="form-control">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-form-label col-lg-2">Klient projektu</label>
                            <div class="col-lg-10">
                                <select name="{{ form.client.vars.full_name }}" class="form-control form-control-uniform">
                                    <option style="display:none">{{ project.client}}</option>
                                    {% if clients == null %}
                                        <option >{{ project.client}}</option>
                                        <option disabled>Dodaj klienta do bazy danych</option>
                                    {% endif %}

                                    {% for client in clients %}
                                        <option >{{ client.companyName }}</option>
                                    {%  endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-lg-2">Typ projektu</label>
                            <div class="col-lg-10">
                                <select name="{{ form.type.vars.full_name }}" class="form-control form-control-uniform">
                                    <option >{{ project.type}}</option>
                                    <option value="opt1">Typ 1</option>
                                    <option value="opt2">Typ 2</option>
                                    <option value="opt3">Typ 3</option>
                                    <option value="opt4">Typ 4</option>
                                    <option value="opt5">Typ 5</option>
                                    <option value="opt6">Typ 6</option>
                                    <option value="opt7">Typ 7</option>
                                    <option value="opt8">Typ 8</option>
                                </select>
                            </div>
                        </div>








                        <div class="form-group mb-3 mb-md-2">
                            <h6>
                                <label class="d-block font-weight-semibold pt-3 pt-md-0">Status projektu</label></h6>
                            <div class="form-check  form-check-switchery">
                                <label class="form-check-label">
                                    Aktywny / Nieaktywny
                                    <input name="{{ form.status.vars.full_name }}" type="checkbox" class="form-check-input-switchery" {% if project.status == true %}checked{% endif %}>
                                </label>
                            </div>

                        </div>
                        <br>
                        <h6 class="font-weight-semibold pt-3 pt-md-0">Aktywacja testów projektu</h6>

                        <div class="form-check   form-check-switchery">
                            <label class="form-check-label">
                                Test minutowy
                                <input name="{{ form.minuteTest.vars.full_name }}" type="checkbox" class="form-check-input-switchery"  {% if project.minuteTest == true %}checked{% endif %}>

                            </label>
                        </div>

                        <div class="form-check  form-check-switchery">
                            <label class="form-check-label">
                                Test badania szybkości
                                <input name="{{ form.dayTest.vars.full_name }}" type="checkbox" class="form-check-input-switchery" {% if project.dayTest == true %}checked{% endif %}>
                            </label>
                        </div>

                        <div class="form-check  form-check-switchery">
                            <label class="form-check-label">
                                Test aktualizacji projektu
                                <input name="{{ form.updateTest.vars.full_name }}" type="checkbox" class="form-check-input-switchery" {% if project.updateTest == true %}checked{% endif %}>
                            </label>
                        </div>
                        </fieldset>


                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">Zatwierdź <i class="icon-paperplane ml-2"></i></button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <!-- /form inputs -->

        <!-- /footer -->
    </div>
    <!-- /content area -->
{% endblock %}