{% extends 'base.html.twig' %}
{% block title %}Podgląd projektu{% endblock %}
{% block references %}
    <!-- Global stylesheets -->

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{{ asset('global_assets/css/icons/icomoon/styles.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/bootstrap_limitless.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/layout.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/components.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/colors.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('global_assets/css/icons/fontawesome/styles.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('global_assets/css/icons/icomoon/styles.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('global_assets/css/icons/material/styles.min.css') }}" rel="stylesheet" type="text/css">

    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script src="{{ asset('global_assets/js/main/jquery.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/main/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/loaders/blockui.min.js') }}"></script>
    <!-- /core JS files -->


    <!-- Theme JS files -->
    <script src="{{ asset('assets/js/minuteTest.js') }}"></script>
    <script src="{{ asset('assets/js/app.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/pickers/anytime.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/pickers/pickadate/picker.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/pickers/pickadate/picker.date.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/pickers/pickadate/legacy.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/notifications/jgrowl.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/demo_pages/picker_date.js') }}"></script>
    <script src="{{ asset('https://cdn.jsdelivr.net/npm/chart.js@2.8.0') }}"></script>
    <script src="{{ asset('global_assets/js/tableSearch.js') }}"></script>


    <!-- /theme JS files -->
{% endblock %}
{% block content %}
    <!-- Page header -->
    <div class="page-header page-header-light">

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Dashboard</a>

                    <a href="{{ path('project_list') }}" class="breadcrumb-item active">Lista projektów</a>
                    <span class="breadcrumb-item active">Podgląd</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

        </div>
    </div>
    <!-- /page header -->


    <!-- Content area -->
    <div class="content">



        <!-- Rounded basic tabs -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h6 class="card-title">Podgląd projektu</h6>

                    </div>

                    <div class="card-body">
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a href="#basic-rounded-tab1" class="nav-link rounded-top active" data-toggle="tab">Informacje o projekcie</a></li>
                            <li class="nav-item"><a href="#basic-rounded-tab2" class="nav-link rounded-top " data-toggle="tab" {% if project.minuteTest== 0 %}style="display: none" {% endif %}>Test minutowy</a></li>
                            <li class="nav-item"><a href="#basic-rounded-tab3" class="nav-link rounded-top" data-toggle="tab"  {% if project.dayTest== 0 %}style="display: none" {% endif %}>Test badania szybkości</a></li>
                            <li class="nav-item"><a href="#basic-rounded-tab4" class="nav-link rounded-top" data-toggle="tab"  {% if project.updateTest== 0 %}style="display: none" {% endif %}>Test aktualizacji</a></li>
                        </ul>

                        <div class="tab-content">
                            <!-- Zakladka 1 -->
                            <div class="tab-pane fade show active" id="basic-rounded-tab1">

                                <!-- Task details -->



                                <table class="table table-borderless table-xs my-2 col-4">
                                    <tbody>
                                    <tr>
                                        <td><i class="icon-archive mr-2"></i> ID:</td>
                                        <td class="text-left">{{ project.id }}</td>
                                    </tr>
                                    <tr>
                                        <td><i class="icon-home mr-2"></i> Domena:</td>
                                        <td class="text-left">{{ project.domain }}</td>
                                    </tr>

                                    <tr>
                                        <td><i class="icon-briefcase mr-2"></i> Klient:</td>
                                        <td class="text-left"><a href="#">{{ project.client }}</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="icon-file-check mr-2"></i> Typ projektu:</td>
                                        <td class="text-left">{{ project.type }}</td>
                                    </tr>
                                    <tr>
                                        <td><i class="icon-file-plus mr-2"></i> Status:</td>
                                        <td class="text-left ">{% if project.status == 1  %}
                                                Aktywny
                                            {% else %}
                                                Niekatywny
                                            {% endif %}</td>
                                    </tr>

                                    <tr>
                                        <td><i class="icon-alarm-check mr-2"></i> Utworzenie:</td>
                                        <td class="text-left text-muted">{{ project.createdAt|date('Y-m-d') }}</td>
                                    </tr>
                                    <tr>
                                        <td> <i class="icon-link mr-2"></i> Linki do projektu:</td>
                                        {% if links == null %}


                                            <td class="text-muted">Dodaj link do testu</td>

                                        {% endif %}
                                        {% for testLink in links %}
                                            <td style="display:block">

                                                <a href="{{ path('project_view_from_link', {'id': project.id , 'link': testLink.id}) }}">{{testLink.link}}</a>

                                            </td>

                                        {% endfor %}
                                    </tr>
                                    </tbody>
                                </table>


                                <!-- /task details -->



                            </div>
                            <!-- /Zakladka 1 -->

                            <!-- Zakladka 2 -->
                            <div class="tab-pane fade" id="basic-rounded-tab2">
                                <div class=" header-elements-inline">
                                    <h5 >Link Testu</h5>
                                </div>

                                <form>
                                    <select name="linklist" onchange="showMinuteTestData(this.value)" class="form-control form-control-uniform">
                                        {% if links == null %}

                                            <option  style="display: none"></option>
                                            <option class="text-muted" disabled>Dodaj link do testu</option>

                                        }
                                        {% else %}
                                            <option   selected="selected" class="text-muted" disabled> Wybierz link strony</option>
                                        {% for testLink in links %}

                                            <option  value="{{ testLink.id }}{{ project.id }}" ><a href="{{ path('project_view_from_link', {'id': project.id , 'link': testLink.id}) }}">{{testLink.link}}</a></option>

                                        {% endfor %}
                                        {% endif %}
                                    </select>
                                </form>
                                <div class=" header-elements-inline">
                                    <h5 >Wyniki Testu</h5>
                                </div>
                                <div class = "row">
                                    <div class="col-md-4">
                                        <div class="input-group">
														<span class="input-group-prepend">
															<span class="input-group-text"><i class="icon-calendar5"></i></span>
														</span>
                                            <input type="text" class="form-control pickadate" placeholder="Początek">
                                        </div>
                                    </div>
                                    <div class="col-md-4">

                                        <div class="input-group">
														<span class="input-group-prepend">
															<span class="input-group-text"><i class="icon-calendar5"></i></span>
														</span>
                                            <input type="text" class="form-control pickadate" placeholder="Koniec">
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="chart-container" style="height: 10rem">
                                    <canvas id="chart1" ></canvas>
                                </div>

                                <br>
                                <div>



                                </div>




                                <br><br>
                                <!-- Traffic sources 2-->

                                <div class=" header-elements-inline">
                                    <h5>Statystyki testu</h5>
                                </div>

                                <div class=" py-0">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="d-flex align-items-center justify-content-center mb-2">
                                                <div class="d-flex align-items-center">
                                                    <i class="mi-timeline mr-3 mi-2x"></i>
                                                </div>
                                                <div>
                                                    <div class="font-weight-semibold center" >Ilość wszystkich testów</div>
                                                    <span id="testCount "class="text-muted center" style = justify-content:center ></span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-sm-3">
                                            <div class="d-flex align-items-center justify-content-center mb-2">
                                                <div class="d-flex align-items-center">
                                                    <i class="mi-notifications-off mr-3 mi-2x"></i>

                                                </div>
                                                <div>
                                                    <div class="font-weight-semibold"> Czas aktywności </div>
                                                    <span class="text-muted">{{ minute_test_arr.ActiveTime }}</span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-sm-3">
                                            <div class="d-flex align-items-center justify-content-center mb-2">							 	<div class="d-flex align-items-center">
                                                    <i class="mi-notifications mr-3 mi-2x"></i>
                                                </div>
                                                <div>
                                                    <div class="font-weight-semibold">Czas aktywności w %</div>
                                                    <span class="text-muted"><span class=" mr-2"></span> {{ minute_test_arr.Percent_active_time }} </span>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="col-sm-3">
                                            <div class="d-flex align-items-center justify-content-center mb-2">							 	<div class="d-flex align-items-center">
                                                    <i class="mi-notifications-off mr-3 mi-2x"></i>
                                                </div>
                                                <div>
                                                    <div class="font-weight-semibold"> Czas nieaktywności w %</div>
                                                    <span class="text-muted"><span class=" mr-2"></span> {{ minute_test_arr.Percent_inactive_time }}</span>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                    <!-- Basic responsive table -->
                                    <br><br>

                                    <div class=" header-elements-inline">

                                        <h5 > Logi testów</h5>
                                        <div class='btn-toolbar  pull-right'>
                                            <div class='btn-group '>
                                                <button  type="button" class="btn btn-info rounded-round git  ml-5 " onclick="FilterStatus('')">Pokaż wszystko</button>
                                                <button type="button" class="btn btn-success rounded-round  ml-5 " onclick="FilterStatus('Nieaktywna')">Tylko aktywne</button>
                                                <button type="button" class="btn btn-danger rounded-round  ml-5" onclick="FilterStatus('Aktywna')">Tylko nieaktywne</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="txtHint">Customer info will be listed here...</div>
                                    <div class="table-responsive">
                                        <table class="table" id = "myStatusTable">
                                            <thead>
                                            <tr>
                                                <th>Data</th>
                                                <th>Godzina i minuta</th>
                                                <th>Status strony</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for result in minute_test_logs %}
                                            <tr>

                                                <td>{{ result.DateTime|date('Y-m-d')}}</td>
                                                <td>{{ result.DateTime|date('H:i') }}</td>

                                                {% if result.status == 1 %}
                                                    <td><span class="badge badge-success">Aktywna</span></td>
                                                {% else %}
                                                    <td><span class="badge badge-danger">Nieaktywna</span></td>
                                                {% endif %}

                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                    <!-- /basic responsive table -->

                                </div>

                                <div class="chart position-relative" id="traffic-sources2"></div>

                                <!-- /traffic sources2 -->


                            </div>

                            <!-- /Zakladka 2 -->

                            <!-- Zakladka 3 -->
                            <div class="tab-pane fade" id="basic-rounded-tab3">
                                <div class=" header-elements-inline">
                                    <h5 >Link Testu</h5>
                                </div>
                                <form>
                                    <select class="form-control form-control-uniform">
                                        {% if links == null %}

                                            <option  style="display: none"></option>
                                            <option class="text-muted">Dodaj link do testu</option>

                                        {% endif %}
                                        {% for testLink in links %}
                                            <option>{{ testLink.link }}</option>

                                        {% endfor %}

                                    </select>
                                </form>
                                <div class=" header-elements-inline">
                                    <h5 >Wyniki Testu</h5>
                                </div>

                                <div>

                                    <div class = "row">



                                        <div class="col-md-4">
                                            <div class="input-group">
														<span class="input-group-prepend">
															<span class="input-group-text"><i class="icon-calendar5"></i></span>
														</span>
                                                <input type="text" class="form-control pickadate" placeholder="Początek">
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="input-group">
														<span class="input-group-prepend">
															<span class="input-group-text"><i class="icon-calendar5"></i></span>
														</span>
                                                <input type="text" class="form-control pickadate" placeholder="Koniec">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>


                                <div   >
                                    <div class="chart-container" style="height: 10rem" >
                                        <canvas id="chart2" ></canvas>
                                    </div>
                                    <script src="{{ asset('assets/js/chart.js') }}"></script>

                                    <br>




                                    <br><br>
                                    <!-- Traffic sources -->

                                    <div class=" header-elements-inline">
                                        <h5>Statystyki testu</h5>
                                    </div>

                                    <div class="py-0">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="d-flex align-items-center justify-content-center mb-2">
                                                    <div class="d-flex align-items-center">
                                                        <i class="mi-timeline mr-3 mi-2x"></i>
                                                    </div>
                                                    <div>
                                                        <div class="font-weight-semibold center" >Ilość wszystkich testów</div>
                                                        <span class="text-muted center" style = justify-content:center >{{ speed_test_arr.test_count }}</span>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-sm-3">
                                                <div class="d-flex align-items-center justify-content-center mb-2">
                                                    <div class="d-flex align-items-center">
                                                        <i class="fas fa-battery-empty mr-3 fa-2x"></i>

                                                    </div>
                                                    <div>
                                                        <div class="font-weight-semibold">Najmniejsza prędkość</div>
                                                        <span class="text-muted">{{speed_test_arr.min_avg}}</span>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-sm-3">
                                                <div class="d-flex align-items-center justify-content-center mb-2">							 	<div class="d-flex align-items-center">
                                                        <i class="fas fa-battery-half mr-3 fa-2x"></i>
                                                    </div>
                                                    <div>
                                                        <div class="font-weight-semibold">Średnia prędkość</div>
                                                        <span class="text-muted"><span class=" mr-2"></span> {{speed_test_arr.avg_avg}}</span>
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="col-sm-3">
                                                <div class="d-flex align-items-center justify-content-center mb-2">							 	<div class="d-flex align-items-center">
                                                        <i class="fas fa-battery-half mr-3 fa-2x"></i>
                                                    </div>
                                                    <div>
                                                        <div class="font-weight-semibold">Najwyższa prędkość</div>
                                                        <span class="text-muted"><span class=" mr-2"></span> {{ speed_test_arr.max_avg }}</span>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>
                                        <!-- Basic responsive table -->
                                        <br><br>

                                        <div class="header-elements-inline">
                                            <h5 > Logi testów</h5>

                                        </div>



                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Data</th>
                                                    <th>Godzina i minuta</th>
                                                    <th>Wynik Testu Desktop</th>
                                                    <th>Wynik Testu Mobile</th>
                                                </thead>
                                                <tbody>

                                                {% for result in speed_test_logs %}
                                                <tr>
                                                    <td>{{ result.DateTime|date('Y-m-d')}}</td>
                                                    <td>{{ result.DateTime|date('H:i') }}</td>
                                                    <td>{{ result.desktopAvg }}</td>
                                                    <td>{{ result.mobileAvg }}</td>

                                                </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>

                                        <!-- /basic responsive table -->

                                    </div>

                                    <div class="chart position-relative" id="traffic-sources"></div>

                                    <!-- /traffic sources -->
                                </div>

                            </div>
                            <!--/Zakladka 3 -->

                            <!-- Zakladka 4 -->
                            <div class="tab-pane fade" id="basic-rounded-tab4">



                                <table class="table table-borderless table-xs my-2 col-4">
                                    <tbody>
                                    <tr>
                                        <td><i class=" "></i>Aktualna wersja WordPress</td>
                                        <td class="text-left">5.5</td>
                                    </tr>
                                    <tr>
                                        <td><i class=" "></i>Najnowsza wersja WordPress</td>
                                        <td class="text-left">5.5.1</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="datatable-header">
                                    <div class="card-header header-elements-inline">
                                        <h5 class="card-title">Lista wtyczek</h5>
                                    </div>
                                    <table class="table datatable-responsive">
                                        <thead>
                                        <tr>
                                            <th>Wtyczka</th>
                                            <th>Wersja</th>
                                            <th>Status</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Wtyczka1</td>
                                            <td>5.5</td>
                                            <td><span class="badge badge-success">OK</span></td>
                                        </tr>
                                        <tr>
                                            <td>Wtyczka2</td>
                                            <td>3.2</td>
                                            <td><span class="badge badge-secondary">Aktualizacja</span></td>

                                        </tr>


                                        </tbody>
                                    </table>

                                </div>


                                <!-- Basic responsive configuration -->
                                <br>
                                <div class="card-header header-elements-inline">
                                    <h5 class="card-title">Logi</h5>
                                </div>

                                <table class="table datatable-responsive">
                                    <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Godzina</th>
                                        <th>Wynik</th>


                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr>
                                        <td>12.09.2020</td>
                                        <td>15:06</td>
                                        <td>
                                            <div class="list-icons">
                                                <div class="dropdown">
                                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                                        <i class="icon-menu2"></i>
                                                    </a>

                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <span class="dropdown-item">Aktualna wersja WordPress:</span>
                                                        <span class="dropdown-item">5.5</span>
                                                        <span class="dropdown-item">Najnowsza wersja WordPress</span>
                                                        <span class="dropdown-item">5.5.1</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>11.09.2020</td>
                                        <td>15:05</td>
                                        <td>
                                            <div class="list-icons">
                                                <div class="dropdown">
                                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                                        <i class="icon-menu2"></i>
                                                    </a>

                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <span class="dropdown-item">Aktualna wersja WordPress:</span>
                                                        <span class="dropdown-item">5.3</span>
                                                        <span class="dropdown-item">Najnowsza wersja WordPress</span>
                                                        <span class="dropdown-item">5.3.1</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <!-- /basic responsive configuration -->
                            </div>

                            <!-- /Zakladka 4 -->

                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- /rounded basic tabs -->


    </div>
    <!-- /content area -->

{% endblock %}