{% extends 'base.html.twig' %}
{% block title%}Lista projektów{% endblock %}
{% block references %}

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="../../global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="../../assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="../../assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="../../assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script src="../../global_assets/js/main/jquery.min.js"></script>
    <script src="../../global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="../../global_assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->


    <script src="../../assets/js/app.js"></script>
    <script src="../../global_assets/js/demo_pages/datatables_responsive.js"></script>
    <script src="../../global_assets/js/tableSearch.js"></script>
    <!-- /theme JS files -->

{% endblock %}
{% block content %}
    <!-- Page header -->
    <div class="page-header page-header-light">

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="{{ path('home') }}"class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Dashboard</a>

                    <span class="breadcrumb-item active">Lista projektów</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

        </div>
    </div>
    <!-- /page header -->


    <!-- Content area -->
    <div class="content">

        <!-- Basic responsive configuration -->
        <div class="card">
            {% for message in app.flashes('successEditProject')  %}

                <div class="alert alert-success" role="alert">
                    {{message}}
                </div>
            {% endfor %}
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Lista projektów</h5>

            </div>

            <!--wyszukiwanie-->
            <div class="datatable-header">
                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                    <label>
                        <span>Filter:</span>
                        <input type="text" id = "myInput" onkeyup=tableSearch() placeholder="Wyszukaj" aria-controls="DataTables_Table_0">
                    </label>
                </div>
                <div class="dt-buttons">
                    <a class="btn btn-light buttons-copy buttons-html5" href='{{ path("project_add") }}'>Dodaj projekt</a>

                </div>
                    </div>
            <!--/wyszukiwanie-->


            <table id = "myTable" class="table  dataTable-responsive text-center" >
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Domena</th>
                    <th>Klient</th>
                    <th>Typ projektu</th>
                    <th>Status minutowy</th>
                    <th>Status dniowy</th>
                    <th>Status aktualizacji</th>

                    <th class="text-center">Akcje</th>
                </tr>
                </thead>
                <tbody>
                {% if projects == null %}
                    <tr>
                        <td>Brak danych</td>
                        <td>Brak danych</td>
                        <td>Brak danych</td>
                        <td>Brak danych</td>
                        <td>Brak danych</td>
                        <td>Brak danych</td>
                        <td>Brak danych</td>
                        <td>Brak danych</td>
                    </tr>
                {% endif %}
                {% for project in projects %}
                <tr >
                    <td>{{ project.id}} </td>
                    <td>{{ project.domain }}</td>
                    <td><a href="#">{{ project.client }}</a></td>
                    <td ><span>{{ project.type}}</span></td>
                    <td><span class="badge badge-success"></span></td>
                    <td><span class="badge badge-danger"></span></td>
                    <td><span class="badge badge-success"></span></td>



                    <td class="text-center">
                        <div class="list-icons">
                            <div class="dropdown">
                                <a href="#" class="list-icons-item" data-toggle="dropdown" aria-expanded="false">
                                    <i class="icon-menu9"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right" x-placement="top-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(22px, 1px, 0px);">
                                    <a href="{{ path('project_view') }}" class="dropdown-item"><i class="icon-user"></i> Podgląd</a>
                                    <a href="{{ path('project_edit',{'id': project.id}) }}" class="dropdown-item"><i class="icon-quill2"></i> Edycja</a>
                                    <a href="#" class="dropdown-item"><i class="icon-user-block"></i> Zablokowanie</a>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /basic responsive configuration -->




    </div>
    <!-- /content area -->
{% endblock %}